In [2]:
#Cargar la biblioteca pandas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# Descarga los datos de una estación del Servicio Meteorológico Nacional
# http://smn1.conagua.gob.mx/emas/
# Lee un archivo de texto con la función Pandas "read_csv", con elementos separados por mas de 
# un espacio, brincándose 4 renglones del inicio (encabezados)
df0 = pd.read_csv('hermosillo.txt', skiprows=19, sep='\s+',header=None,names=["DD/MM/YY","PRECIP","EVAP","TMAX","TMIN"])
# "Shift + Enter"

In [4]:
# Lee los primeros 5 renglones del archivo
df0.head()
# "Shift+Enter"

     DD/MM/YY  PRECIP  EVAP  TMAX  TMIN
0  14/10/1981     0.0   NaN  28.0   NaN
1  15/10/1981     0.0   7.3  26.0  14.0
2  16/10/1981     0.0   7.6  28.0  12.5
3  17/10/1981     0.0   8.1  28.0  10.0
4  18/10/1981     0.0   1.2  30.5   9.5

In [5]:
#Final de la tabla
df0.tail()

        DD/MM/YY  PRECIP  EVAP  TMAX  TMIN
5439  26/09/1998     0.0   NaN  35.5   NaN
5440  27/09/1998     0.0   NaN  37.5  16.5
5441  28/09/1998     0.0   NaN  38.5  20.0
5442  29/09/1998     0.0   NaN  38.5  20.0
5443  30/09/1998     0.0   NaN  37.5  20.0

In [6]:
# Combinar las columnas "DD/MM/AAAA" con "HH:MM" y convertirla a variable de tiempo
# Se crea una nueva columna "Fecha" al final con formato de tiempo.
# Eliminamos las dos primeras columnas que ya no necesitaremos
#FECHA
df0['FECHA'] = pd.to_datetime(df0.apply(lambda x: x['DD/MM/YY'], 1), dayfirst=True)
df0 = df0.drop(['DD/MM/YY'], 1)
#Presipitación
#df0['PRECIPITACIÓN'] = pd.to_datefloat(df0.apply(lambda x: x['PRECIP'], 1), dayfirst=True)
#df0 = df0.drop(['PRECIP'], 1)

In [7]:
#Tipos de variables
df0.dtypes

PRECIP           float64
EVAP             float64
TMAX             float64
TMIN             float64
FECHA     datetime64[ns]
dtype: object

In [8]:
#Promedio
df0.mean()

PRECIP     0.972096
EVAP       6.432571
TMAX      32.110032
TMIN      13.363783
dtype: float64

In [9]:
#Desviacion estandar
df0.std()

PRECIP    5.666403
EVAP      3.219988
TMAX      6.949653
TMIN      7.035267
dtype: float64

In [10]:
#Mediana
df0.median()

PRECIP     0.0
EVAP       6.1
TMAX      33.0
TMIN      12.0
dtype: float64

In [11]:
#Maximo
df0.max()

PRECIP                  119.3
EVAP                     16.5
TMAX                       49
TMIN                       29
FECHA     1998-09-30 00:00:00
dtype: object

In [12]:
#Minimo
df0.min()

PRECIP                      0
EVAP                      0.1
TMAX                        0
TMIN                     -3.5
FECHA     1981-10-14 00:00:00
dtype: object

In [13]:
#Analisis estadistico
df0.describe()

            PRECIP         EVAP         TMAX         TMIN
count  5182.000000  3104.000000  4974.000000  4959.000000
mean      0.972096     6.432571    32.110032    13.363783
std       5.666403     3.219988     6.949653     7.035267
min       0.000000     0.100000     0.000000    -3.500000
25%       0.000000     3.800000    26.625000     7.500000
50%       0.000000     6.100000    33.000000    12.000000
75%       0.000000     8.800000    37.500000    19.500000
max     119.300000    16.500000    49.000000    29.000000

In [14]:
df0.set_index("FECHA").resample("M")["PRECIP"].mean()

FECHA
1981-10-31     0.027778
1981-11-30     0.106667
1981-12-31     0.000000
1982-01-31     0.445161
1982-02-28     0.000000
1982-03-31     0.000000
1982-04-30     0.000000
1982-05-31     0.000000
1982-06-30     0.000000
1982-07-31     0.451613
1982-08-31     1.265517
1982-09-30     0.856667
1982-10-31     0.000000
1982-11-30     0.883333
1982-12-31     1.054839
1983-01-31     0.332258
1983-02-28     0.578571
1983-03-31     0.832258
1983-04-30     0.203333
1983-05-31     0.000000
1983-06-30     0.000000
1983-07-31     2.460714
1983-08-31     1.851613
1983-09-30    10.160000
1983-10-31          NaN
1983-11-30     2.000000
1983-12-31     0.967742
1984-01-31     1.816129
1984-02-29     0.058621
1984-03-31     0.000000
                ...
1996-04-30     0.000000
1996-05-31     0.000000
1996-06-30     0.000000
1996-07-31     7.660000
1996-08-31     2.716667
1996-09-30     0.400000
1996-10-31     0.000000
1996-11-30     0.000000
1996-12-31     0.000000
1997-01-31     0.000000
1997-02-28     0.000000
1997-03-31     0.000000
1997-04-30     0.469565
1997-05-31     0.000000
1997-06-30     0.000000
1997-07-31     0.000000
1997-08-31     1.185000
1997-09-30     0.195455
1997-10-31     0.000000
1997-11-30     0.373913
1997-12-31     2.926923
1998-01-31     0.000000
1998-02-28     2.320000
1998-03-31     0.000000
1998-04-30          NaN
1998-05-31          NaN
1998-06-30     0.000000
1998-07-31     0.000000
1998-08-31     0.000000
1998-09-30     1.680000
Freq: M, Name: PRECIP, Length: 204, dtype: float64

In [15]:
df0.set_index("FECHA").resample("M")["TMAX"].mean()

FECHA
1981-10-31    30.722222
1981-11-30    29.516667
1981-12-31    26.283333
1982-01-31    21.677419
1982-02-28    25.785714
1982-03-31    27.870968
1982-04-30    31.982143
1982-05-31    33.048387
1982-06-30    37.650000
1982-07-31    39.344828
1982-08-31    39.448276
1982-09-30    38.750000
1982-10-31    34.951613
1982-11-30    27.016667
1982-12-31    22.032258
1983-01-31    23.935484
1983-02-28    25.142857
1983-03-31    26.709677
1983-04-30    28.600000
1983-05-31    35.790323
1983-06-30    38.683333
1983-07-31    40.277778
1983-08-31    37.387097
1983-09-30    37.447368
1983-10-31          NaN
1983-11-30    23.230769
1983-12-31    24.383333
1984-01-31    23.233333
1984-02-29    25.464286
1984-03-31    28.758065
                ...
1996-04-30    34.312500
1996-05-31    38.386364
1996-06-30    41.886364
1996-07-31    38.750000
1996-08-31    39.321429
1996-09-30    37.409091
1996-10-31    34.818182
1996-11-30    30.666667
1996-12-31    26.826087
1997-01-31    24.312500
1997-02-28    25.785714
1997-03-31    31.620000
1997-04-30    31.840909
1997-05-31    38.619048
1997-06-30    40.227273
1997-07-31    42.750000
1997-08-31    40.225000
1997-09-30    38.977273
1997-10-31    34.545455
1997-11-30    30.772727
1997-12-31    21.940000
1998-01-31    24.956522
1998-02-28    23.714286
1998-03-31    27.717391
1998-04-30          NaN
1998-05-31          NaN
1998-06-30    39.977273
1998-07-31    40.642857
1998-08-31    39.562500
1998-09-30    38.804348
Freq: M, Name: TMAX, Length: 204, dtype: float64

In [16]:
df0.set_index("FECHA").resample("M")["TMIN"].mean()

FECHA
1981-10-31    13.029412
1981-11-30     9.800000
1981-12-31     6.000000
1982-01-31     4.354839
1982-02-28     5.892857
1982-03-31     7.951613
1982-04-30    10.535714
1982-05-31    12.209677
1982-06-30    14.900000
1982-07-31    16.086207
1982-08-31    24.086207
1982-09-30    22.833333
1982-10-31    13.241935
1982-11-30    10.416667
1982-12-31     8.161290
1983-01-31     7.677419
1983-02-28     7.821429
1983-03-31     9.887097
1983-04-30    10.183333
1983-05-31    14.274194
1983-06-30    17.600000
1983-07-31    23.814815
1983-08-31    23.258065
1983-09-30    23.625000
1983-10-31          NaN
1983-11-30     6.346154
1983-12-31     8.161290
1984-01-31     5.733333
1984-02-29     5.107143
1984-03-31     7.580645
                ...
1996-04-30    10.979167
1996-05-31    14.500000
1996-06-30    21.880952
1996-07-31    24.054545
1996-08-31    23.346154
1996-09-30    20.931818
1996-10-31    14.613636
1996-11-30     9.175000
1996-12-31     4.673913
1997-01-31     5.708333
1997-02-28     5.190476
1997-03-31     8.740000
1997-04-30    11.318182
1997-05-31    17.690476
1997-06-30    18.954545
1997-07-31    24.125000
1997-08-31    23.631579
1997-09-30    24.113636
1997-10-31    15.090909
1997-11-30    10.523810
1997-12-31     5.080000
1998-01-31     6.608696
1998-02-28     6.464286
1998-03-31     7.434783
1998-04-30          NaN
1998-05-31          NaN
1998-06-30    18.409091
1998-07-31    24.625000
1998-08-31    23.933333
1998-09-30    22.456522
Freq: M, Name: TMIN, Length: 204, dtype: float64

In [17]:
df0.set_index("FECHA").resample("Y")["PRECIP"].mean()

FECHA
1981-12-31    0.047436
1982-12-31    0.411570
1983-12-31    1.461967
1984-12-31    1.352663
1985-12-31    0.717308
1986-12-31    1.114760
1987-12-31    0.380899
1988-12-31    0.844118
1989-12-31    0.409016
1990-12-31    1.766555
1991-12-31    1.186798
1992-12-31    1.905590
1993-12-31    1.085197
1994-12-31    1.563140
1995-12-31    0.666667
1996-12-31    0.536111
1997-12-31    0.486220
1998-12-31    0.586260
Freq: A-DEC, Name: PRECIP, dtype: float64

In [18]:
df0.set_index("FECHA").resample("Y")["TMAX"].mean()

FECHA
1981-12-31    28.551282
1982-12-31    31.565460
1983-12-31    31.207641
1984-12-31    31.440751
1985-12-31    32.248760
1986-12-31    34.817844
1987-12-31    32.795775
1988-12-31    32.933234
1989-12-31    31.489754
1990-12-31    30.877076
1991-12-31    31.321958
1992-12-31    31.031034
1993-12-31    32.495017
1994-12-31    31.538314
1995-12-31    33.113744
1996-12-31    33.646091
1997-12-31    32.522000
1998-12-31    33.070312
Freq: A-DEC, Name: TMAX, dtype: float64

In [19]:
df0.set_index("FECHA").resample("Y")["TMIN"].mean()

FECHA
1981-12-31     9.032468
1982-12-31    12.515320
1983-12-31    13.899340
1984-12-31    13.268678
1985-12-31    13.584298
1986-12-31    16.015926
1987-12-31    13.995775
1988-12-31    13.882090
1989-12-31    11.344262
1990-12-31    13.131229
1991-12-31    12.507645
1992-12-31    13.261246
1993-12-31    14.413621
1994-12-31    13.092664
1995-12-31    13.120853
1996-12-31    12.817842
1997-12-31    13.137097
1998-12-31    14.773438
Freq: A-DEC, Name: TMIN, dtype: float64